/* You can put your own style here */
/* You can put your own style here */
/*********************BODY***************************************************************************************************/
/* line 10, ../compass/sass/common.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  height: 100%;
  max-width: 100%;
  color: #464646;
  overflow-x: hidden;
}

/* line 20, ../compass/sass/common.scss */
.container {
  height: 100%;
}

/* line 25, ../compass/sass/common.scss */
.format {
  letter-spacing: 1px;
}

/*******************NAV BAR************************************************************************************************/
/* line 31, ../compass/sass/common.scss */
.badge {
  background-color: #A6A2A2 !important;
}

/* line 37, ../compass/sass/common.scss */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 0px solid rgba(255, 255, 255, 0.9);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

/* line 47, ../compass/sass/common.scss */
.navbar-custom .navbar-brand:focus {
  outline: 0;
}

/* line 51, ../compass/sass/common.scss */
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

/* line 58, ../compass/sass/common.scss */
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

/* line 63, ../compass/sass/common.scss */
.navbar-custom a {
  color: #1031ba;
}

/* line 67, ../compass/sass/common.scss */
.navbar-custom .nav li.active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 72, ../compass/sass/common.scss */
.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

/* line 78, ../compass/sass/common.scss */
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 767px) {
  /* line 87, ../compass/sass/common.scss */
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  /* line 98, ../compass/sass/common.scss */
  .top-nav-collapse {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9);
  }

  /* line 103, ../compass/sass/common.scss */
  .navbar-custom.top-nav-collapse {
    border-bottom: 0px solid rgba(255, 255, 255, 0.9);
  }
}
/* line 111, ../compass/sass/common.scss */
.nav .btn {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 118, ../compass/sass/common.scss */
.nav .btn-default {
  border-width: 0px;
  color: white !important;
  background-color: #ff7200;
}
/* line 124, ../compass/sass/common.scss */
.nav .btn-primary {
  border-width: 0px;
  color: white !important;
  background-color: #1031ba;
}

/* line 134, ../compass/sass/common.scss */
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 144, ../compass/sass/common.scss */
.wrapper .btn-default {
  border-width: 1px;
  border-color: #ff7200;
  color: #ff7200 !important;
  background-color: transparent;
}

/* line 151, ../compass/sass/common.scss */
.btn-default:hover,
.btn-default:focus {
  outline: 0;
  color: white !important;
  border-color: #ff7200 !important;
  background-color: #ff7200 !important;
}

/* line 159, ../compass/sass/common.scss */
.btn-primary:hover,
.btn-primary:focus {
  outline: 0;
  color: white !important;
  background-color: #1031ba !important;
}

/*****************************FOOTER*****************************************************************************************/
/* line 176, ../compass/sass/common.scss */
#footer {
  background-color: white;
  margin-top: 3em;
  margin-bottom: 3em;
}
/* line 181, ../compass/sass/common.scss */
#footer a {
  color: #1031ba;
}
/* line 185, ../compass/sass/common.scss */
#footer h4 {
  color: white;
}
/* line 189, ../compass/sass/common.scss */
#footer a:hover {
  color: #959595;
}
/* line 193, ../compass/sass/common.scss */
#footer p {
  margin-top: 8px;
  color: #1031ba;
}

/* line 201, ../compass/sass/common.scss */
.list-inline > li {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/*********************************USAGES MULTIPLES**************************************************************************/
/* line 209, ../compass/sass/common.scss */
.power a {
  display: none;
}

/* line 214, ../compass/sass/common.scss */
.close {
  color: #ff7200;
  opacity: 0.6;
  text-shadow: none;
}

/* line 221, ../compass/sass/common.scss */
.close:hover {
  color: #ff7200;
  opacity: 1;
}

/* line 229, ../compass/sass/common.scss */
.feature h4 {
  color: #1031ba;
}
/* line 233, ../compass/sass/common.scss */
.feature img {
  margin-bottom: 0;
}
/* line 238, ../compass/sass/common.scss */
.feature hr {
  width: 10%;
  border: 2px solid blue;
}
/* line 243, ../compass/sass/common.scss */
.feature p {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

/* line 259, ../compass/sass/common.scss */
#IDtotal {
  margin-bottom: 20px;
}

/* line 272, ../compass/sass/common.scss */
.spacer-5 {
  height: 7em;
}

/* line 276, ../compass/sass/common.scss */
.spacer, .spacer-2, .spacer-4, .spacer-3 {
  height: 3em;
}

/* line 280, ../compass/sass/common.scss */
.spacer-2 {
  background-color: #f4f1ec;
}

/* line 286, ../compass/sass/common.scss */
.spacer-4 {
  background-color: #ff7200;
}

/* line 292, ../compass/sass/common.scss */
.spacer-3 {
  background-color: #1031ba;
}

/* line 297, ../compass/sass/common.scss */
.my-space {
  margin: auto;
  height: auto;
  min-height: 700px;
  padding-top: 120px;
}

/* line 309, ../compass/sass/common.scss */
.title-section h1 {
  color: #1031ba;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  margin-bottom: 0px;
}
/* line 316, ../compass/sass/common.scss */
.title-section h2 {
  color: #959595;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}
/* line 323, ../compass/sass/common.scss */
.title-section h4 {
  color: #1031ba;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* line 331, ../compass/sass/common.scss */
.btn-default {
  color: #ff7200;
  background-color: transparent;
  border-color: #ff7200;
}

/********************************Portfolio********************************************************/
/* line 342, ../compass/sass/common.scss */
.bg-light-gray {
  background-color: #1031ba;
}

/* line 346, ../compass/sass/common.scss */
#portfolio h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/* line 351, ../compass/sass/common.scss */
.text-muted {
  color: #777;
}

/* line 356, ../compass/sass/common.scss */
#portfolio {
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #f4f1ec;
}

/* line 363, ../compass/sass/common.scss */
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 20px;
}

/* line 369, ../compass/sass/common.scss */
#portfolio h5 {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 25px;
}
/* line 374, ../compass/sass/common.scss */
#portfolio a {
  text-decoration: none;
  color: black;
}

/* line 382, ../compass/sass/common.scss */
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}

/* line 389, ../compass/sass/common.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(16, 49, 186, 0.8);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}

/* line 400, ../compass/sass/common.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

/* line 404, ../compass/sass/common.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: white;
}

/* line 415, ../compass/sass/common.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

/* line 419, ../compass/sass/common.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

/* line 424, ../compass/sass/common.scss */
#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: white;
}

/* line 432, ../compass/sass/common.scss */
#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

/* line 437, ../compass/sass/common.scss */
#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  font-size: 16px;
  font-style: italic;
}

/* line 443, ../compass/sass/common.scss */
#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  /* line 448, ../compass/sass/common.scss */
  #portfolio .portfolio-item {
    margin: 0 0 0px;
  }
}
/*********************FAQ***************************************************************************************************/
/* line 11, ../compass/sass/faq.scss */
.faq .table {
  font-size: 8px;
}

/* line 15, ../compass/sass/faq.scss */
.faq {
  font-size: 14px;
}
/* line 18, ../compass/sass/faq.scss */
.faq h1 {
  font-family: "Montserrat", sans-serif;
  color: #1031ba;
}
