@charset "UTF-8";
/* You can put your own style here */
/*********************BODY***************************************************************************************************/
/* line 13, ../compass/sass/style.scss */
body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

/* line 20, ../compass/sass/style.scss */
.format {
  letter-spacing: 1px;
}

/*********************HEADER************************************************************************************************/
/* line 27, ../compass/sass/style.scss */
#company-name {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
}

/* line 34, ../compass/sass/style.scss */
#beta {
  font-size: 11px;
  margin-left: 125px;
}

/* line 39, ../compass/sass/style.scss */
.navbar-brand > ul {
  list-style-type: none;
  padding-left: 0px;
}

/* line 44, ../compass/sass/style.scss */
#title-nav {
  font-size: 13px;
}

/* line 48, ../compass/sass/style.scss */
.label-default {
  background-color: #031ec0;
}

/* line 52, ../compass/sass/style.scss */
.navbar-transparent {
  background-color: white;
}

/* line 56, ../compass/sass/style.scss */
.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #031ec0;
  line-height: 21px;
}

/* line 62, ../compass/sass/style.scss */
.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: #031ec0;
}

/* line 75, ../compass/sass/style.scss */
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #031ec0;
}

/* line 81, ../compass/sass/style.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f3931c;
}

/************************WRAPPER*DE*LA*LANDING*****************************************************************************/
/* line 88, ../compass/sass/style.scss */
.wrapper {
  background-image: url('../images/Cover.png?1415634071');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  /*background-size: 100%;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  height: 700px;
  padding-top: 100px;
  color: white;
}

/* line 106, ../compass/sass/style.scss */
.wrapper img {
  margin: auto;
}
/* line 110, ../compass/sass/style.scss */
.wrapper button {
  margin-bottom: 30px;
}

/* line 117, ../compass/sass/style.scss */
.lead h3 {
  /*background: rgba(0, 0, 0, .2);*/
  display: inline-block;
  padding: 0.1em;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0.3em;
  color: black;
}
/* line 128, ../compass/sass/style.scss */
.lead h1 {
  /*text-shadow: 2px 2px 10px rgba(0, 0, 0, .9);*/
  padding-top: 0.3em;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
}

/* line 138, ../compass/sass/style.scss */
.btn-primary {
  background-color: #031ec0;
  border-color: #031ec0;
}

/* line 143, ../compass/sass/style.scss */
.btn-primary:hover {
  background-color: #031ec0;
  border-color: #031ec0;
}

/**************************MON**INVENTAIRE****************************************************************************************/
/* line 152, ../compass/sass/style.scss */
.inventory {
  background-image: url('../images/subtle_pattern/cream_pixels.png?1410873407');
}

/* line 157, ../compass/sass/style.scss */
.inventory img {
  margin: auto;
  padding-top: 1em;
}

/**************************MODAL************************************************************************************/
/* line 165, ../compass/sass/style.scss */
.modal-header p {
  font-family: inherit;
  font-size: 14px;
  color: white;
}
/* line 171, ../compass/sass/style.scss */
.modal-header h4 {
  font-family: inherit;
  font-size: 18px;
  color: white;
}

/* line 178, ../compass/sass/style.scss */
.modal-header {
  background-color: rgba(3, 30, 192, 0.8);
}

/* line 183, ../compass/sass/style.scss */
.modal-footer {
  background-color: rgba(3, 30, 192, 0.8);
}

/*.wufoo label.desc, .wufoo legend.desc {
font-family: 'PT Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: bold;
color: black;
}

.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
font-family: 'PT Sans', sans-serif;
font-size: 14px;
}

.wufoo label.choice {
font-size: 100%;
font-family: 'PT Sans', sans-serif;
font-style: normal;
font-weight: normal;
color: #444444;
font-size: 14px;
}*/
/**************************PLUSIEURS*USAGES************************************************************************************/
/* line 211, ../compass/sass/style.scss */
#title_section {
  color: #464646;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 220, ../compass/sass/style.scss */
.profil-spacer {
  height: 3em;
}

/* line 224, ../compass/sass/style.scss */
.container-spacer {
  height: 3em;
  background-image: url('../images/subtle_pattern/cream_pixels.png?1410873407');
}

/* line 229, ../compass/sass/style.scss */
.spacer {
  height: 7em;
}

/* line 234, ../compass/sass/style.scss */
.feature img {
  margin-bottom: 1em;
}
/* line 238, ../compass/sass/style.scss */
.feature hr {
  width: 10%;
  border: 2px solid blue;
}
/* line 243, ../compass/sass/style.scss */
.feature p {
  margin-left: 50px;
  margin-right: 50px;
}

/* line 250, ../compass/sass/style.scss */
.container h5 {
  padding-top: 1em;
}
/* line 254, ../compass/sass/style.scss */
.container h3 {
  margin-bottom: 50px;
}

/* line 260, ../compass/sass/style.scss */
.circle {
  border-radius: 50%;
  border: 3px solid #031ec0;
  padding: 4px;
  /*box-shadow: 1px 1px 1px rgba(113,28,243,1);*/
}

/* line 267, ../compass/sass/style.scss */
.feature h4 {
  color: #031ec0;
}

/* line 271, ../compass/sass/style.scss */
#name a:hover {
  color: #ddd;
}

/* line 275, ../compass/sass/style.scss */
.min-height {
  min-height: 600px;
}

/**************************CAPCITE*********************************************************************************/
/**************************NOTRE*OFFRE*********************************************************************************/
/* line 284, ../compass/sass/style.scss */
.offer {
  background-image: url('../images/subtle_pattern/cream_pixels.png?1410873407');
}

/* line 289, ../compass/sass/style.scss */
.fade_away {
  opacity: 0.95;
  /* l'opacite que vous voulez au depart */
  border: none;
  /* enlever les border d'une image en lien */
  -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  /* Hack IE8 */
  filter: alpha(opacity=25);
  /* Hack IE 5-7 */
  -webkit-transition: opacity 0.5s ease-in-out;
  /* transition pour Chrome et Safari */
  -moz-transition: opacity 0.5s ease-in-out;
  /* transition pour Firefox */
  -o-transition: opacity 0.5s ease-in-out;
  /* transition pour Op├®ra */
  transition: opacity 0.5s ease-in-out;
  /* on ├®crit cette ligne ├á la fin de fa├ºon ├á ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */
  width: 300px;
  height: 430px;
  display: block;
  /*Tr├¿s important, sinon les dimensions ne sont pas prises en compte*/
  background: url("../images/bin_empty_no_shadow_with_text.png") no-repeat;
  background-position: center;
}

/* line 305, ../compass/sass/style.scss */
.fade_away:hover,
.fade_away:focus {
  opacity: 1;
  /* opacite au survol */
  -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  /* Hack IE 8 */
  filter: alpha(opacity=90);
  /* Hack IE 5-7 */
  background-image: url('../images/BOX_Rodolphe_no_shadow_2.png?1414864238');
  background-position: center;
}

/* line 318, ../compass/sass/style.scss */
.engagment li {
  border-bottom: 1px dotted #031ec0;
  list-style: none;
  padding: 12px;
}
/* line 326, ../compass/sass/style.scss */
.engagment li p {
  color: #031ec0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

/* line 335, ../compass/sass/style.scss */
.offer button {
  margin-top: 20px;
}

/*****************CAROUSEL****************************************************************************************************/
/* line 342, ../compass/sass/style.scss */
.header-carousel {
  padding-bottom: 2em;
}

/* line 347, ../compass/sass/style.scss */
.carousel-inner a {
  color: #031ec0;
}
/* line 351, ../compass/sass/style.scss */
.carousel-inner p {
  color: #031ec0;
  font-size: 14px;
  margin-top: -5px;
}
/* line 357, ../compass/sass/style.scss */
.carousel-inner img {
  /*margin:auto;*/
  padding-bottom: 20px;
  height: 300px;
  width: 200px;
  /*max-height: 500px;*/
}

/* line 367, ../compass/sass/style.scss */
.carousel-indicators {
  bottom: -30px;
}

/* line 371, ../compass/sass/style.scss */
.glyphicon-custom, .carousel-control .glyphicon-chevron-right, .carousel-control .glyphicon-chevron-left {
  right: 50px;
  color: #031ec0;
  top: 150px;
}

/* line 387, ../compass/sass/style.scss */
.carousel-caption {
  color: black;
}

/* line 393, ../compass/sass/style.scss */
.carousel-indicators li {
  background-color: #031ec0;
}

/* line 397, ../compass/sass/style.scss */
.carousel-indicators .active {
  background-color: #031ec0;
}

/* line 402, ../compass/sass/style.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/****************PROFIL********************************************************************************************/
/* line 408, ../compass/sass/style.scss */
.profil a {
  color: #031ec0;
}

/* line 412, ../compass/sass/style.scss */
.box-custom, .box-Rodolphe, .box-Alice, .box-Fred, .box-Victoria, .box-Beaubien, .box-See-Concept {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background-size: 100%;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  height: 500px;
  padding-top: 100px;
  color: white;
}

/* line 428, ../compass/sass/style.scss */
.box-Rodolphe {
  background-image: url('../images/Affaires_Rodolphe.png?1414586339');
}

/* line 434, ../compass/sass/style.scss */
.box-Alice {
  background-image: url('../images/Affaires_Alice.png?1414584189');
}

/* line 439, ../compass/sass/style.scss */
.box-Fred {
  background-image: url('../images/Affaires_Fred.png?1414583905');
}

/* line 444, ../compass/sass/style.scss */
.box-Victoria {
  background-image: url('../images/Affaires_Victoria.png?1414584021');
}

/* line 449, ../compass/sass/style.scss */
.box-Beaubien {
  background-image: url('../images/Affaires_Beaubien.png?1415312646');
}

/* line 454, ../compass/sass/style.scss */
.box-See-Concept {
  background-image: url('../images/Affaires_See-Concept.png?1415312556');
}

/* line 459, ../compass/sass/style.scss */
.image {
  border-radius: 50%;
  height: 200px;
}

/*blockquote{
	background: #f9f9f9;
	border-left: 4px solid blue;
}	*/
/*****************************SECURITE*****************************************************************************************/
/* line 471, ../compass/sass/style.scss */
.security {
  background-image: url('../images/subtle_pattern/cream_pixels.png?1410873407');
}

/*****************************FOOTER*****************************************************************************************/
/* line 479, ../compass/sass/style.scss */
#footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #506474;
  padding: 1em;
  margin-top: 2em;
}

/* line 487, ../compass/sass/style.scss */
#footer a {
  color: #506474;
}
/* line 491, ../compass/sass/style.scss */
#footer h4 {
  color: white;
}
/* line 495, ../compass/sass/style.scss */
#footer a:hover {
  color: #ddd;
}
