    <div id="footer">
      <div class="container">
        <div class="row">
          <div class=" hidden-xs hidden-sm col-md-3 text-center">
           
              <a href="{{site.baseurl}}/index.html">          
              <img src="{{site.baseurl}}/images/Wesquare2.png" alt="logo" width="100">
              </a> 
          </div>
          <div class="col-md-6 text-center">
             <ul class="list-inline">
             

              <li>
                <a href="{{site.baseurl}}/en/legal.html">Legal information</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/CGV.html">Terms</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/en/FAQ.html" target="_BLANK">FAQ</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/blog/index.html" target="_BLANK">Blog</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/en/team.html">Team</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/en/press.html">Press</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/en/ambassador.html">Ambassadors</a>
              </li>
              <li>
                <a href="{{site.baseurl}}/en/partner.html">Partners</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-12 col-md-3 text-center">
            <ul class="list-inline">
              
              <!-- <li>
                <a href="https://twitter.com/projectX">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li> -->
              <li>
                <a href="https://www.facebook.com/Welcome2WeSquare" target="_BLANK">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="http://www.instagram.com/we_square" target="_BLANK">
                  <i class="fa fa-instagram fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UC_jHjuQRpD0hpQt2NAceStw" target="_BLANK">
                  <i class="fa fa-youtube-square fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="http://www.pinterest.com/we_square" target="_BLANK">
                 <i class="fa fa-pinterest-square fa-2x"></i> 
                </a>
              </li>
            </ul>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-12 text-center social">
            <ul class="list-inline">
            

            <li>
              <p>PARIS &copy; WESQUARE&reg; 2015. All rights reserved.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
