

<!--Navbar -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{ site.baseurl }}">
                    <img src="{{ site.baseurl }}/images/Wesquare2.png" width="120">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <!-- <li class="hidden">
                        <a href="#page-top"></a>
                    </li> -->
                    
                    
                                        
                   <!--  <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/index.html#section8">
                        Commandez
                        </a>
                    </li> -->
                   

                    <li>

                        <a class="page-scroll telephone ac-c2c-event" href="" onclick="ga('send','event','Lien','téléphone','nav bar');">
                        <i class="fa fa-phone"></i> +33 (0)1 76 34 00 78 </span>
                        </a>
                    </li>

                     <li>
                        <a class="page-scroll" href="{{ site.baseurl }}/mon_espace.html" target="_BLANK">
                        <i class="fa fa-user"></i> Login
                        </a>
                    </li>

                    <li>

                   


                    <!-- <li>
                        <a class="page-scroll" onclick="ga('send','event','Lien','Email','nav bar');">
                         Prix
                        </a>
                    </li> -->

                    
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
