<!DOCTYPE html>
<html>
  <head>
    
    <title>{{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <!-- Meta facebook -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ page.adress }}/" />
    <meta property="og:image" content="{{ page.image }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:site_name" content="Piirog" />
    <meta property="fb:admins" content="Facebook numeric ID"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">

  </head>
  <body class="format">

    <!-- Script bouton share de Facebook -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!--Navbar -->
    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top"  role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/index.html" id="company-name">
            WeSquare
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            
            <li>
               <a href="index.html#carousel" id="title-nav">
                Ils nous font confiance
               </a> 
            </li>

            <li>
               <a href="index.html#notre_offre" id="title-nav">
                Notre offre
               </a> 
            </li>
            <li>
               <a href="#" id="title-nav">
                <i class="fa fa-phone"></i> 06 61 73 80 39
               </a> 
            </li>
            <li>
              <a href="mailto:contact@we-square.com" id="title-nav">
                <i class="fa fa-envelope-o"></i> contact@we-square.com
              </a>
            </li>
          
            <!-- <li>
               <a href="{{ site.baseurl }}/blog">Blog</a> 
            </li>

             <li>
               <a href="{{ site.baseurl }}/playlist.html">Playlist</a> 
            </li>
            
                       
            <li class="dropdown">
              <a href="#" class="dropdown-toggle format" data-toggle="dropdown">Suivez-nous !<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="https://twitter.com/parkmycar"> <i class="fa fa-twitter-square"></i> Twitter</a></li>
                <li><a href="https://facebook.com/parkmycar"> <i class="fa fa-facebook-square"></i> Facebook</a></li>
              </ul>
            </li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    {{ content }}

    <div id="footer">
      <div class="container">
        <div class="row">
          <!-- <div class="col-xs-6 col-sm-3">
            <ul class="list-inline social">
              <li>
                <a href="https://twitter.com/projectX">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="https://facebook.com/projectX">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com/projectX">
                  <i class="fa fa-instagram fa-2x"></i>
                </a>
              </li>
              <li>
                <a href="https://youtube.com/projectX">
                  <i class="fa fa-youtube fa-2x"></i>
                </a>
              </li>
            </ul>
          </div> -->
          <div class="col-xs-12 col-sm-12 text-right">
            <h4>
              WeSquare
           </h4>
          </div>
        </div>
      </div>
    </div>

    



    <!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
  </body>
</html>