---
layout: second
---

<div class="paris">
  <div class="wrapper">
    <div id="carousel-cover" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-cover" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-cover" data-slide-to="1"></li>
        <li data-target="#carousel-cover" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active slide1">
          <div class="carousel-caption appearIn">
            <h1>N'ALLEZ PLUS DANS UN GARDE-MEUBLE</h1>
            <a href=""><h2>Stockez vos affaires sans vous déplacer, en quelques clics.</h2></a>
            <br>
            <a class="page-scroll btn btn-default btn-lg" href="{{ site.baseurl }}/commande.html" onclick="ga('send','event','Lien','Book','Arrondissement');"> JE RÉSERVE MAINTENANT</a>
          </div>
      
        </div>
        <div class="item slide2">
       <div class="carousel-caption appearIn">
            <h1>N'ALLEZ PLUS DANS UN GARDE-MEUBLE</h1>
            <a href=""><h2>À partir de seulement 5,90 €/mois.</h2></a>
            <br>
            <a class="page-scroll btn btn-default btn-lg" href="{{ site.baseurl }}/commande.html" onclick="ga('send','event','Lien','Book','Cover');"> JE RÉSERVE MAINTENANT</a>
        </div>
        </div>
        <div class="item slide3">
      
          <div class="carousel-caption appearIn">
            <h1>N'ALLEZ PLUS DANS UN GARDE-MEUBLE</h1>
            <a href=""><h2>Profitez du Service à Paris et en banlieue.</h2></a>
            <br>
            <a class="page-scroll btn btn-default btn-lg" href="{{ site.baseurl }}/commande.html" onclick="ga('send','event','Lien','Book','Arrondissement');"> JE RÉSERVE MAINTENANT</a>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-cover" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-cover" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    
    </div>
  </div>
  <div class="talkaboutus">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center slideLeft">
          <a href="{{{site.baseurl}}/press.html">
            <ul class="list-inline">
              <li> <img src="{{site.baseurl}}/images/entreprendre-BAW.png" width="120" alt="logo d'entreprendre.fr"> </li>
              <li> <img src="{{site.baseurl}}/images/Grazia-BAW.png" width="120" alt="logo de Grazia"> </li>
              <li> <img src="{{site.baseurl}}/images/dm-BAW.png" width="120" alt="logo de Direct Matin"> </li>
              <li> <img src="{{site.baseurl}}/images/cosmo-BAW.png" width="120" alt="logo de Cosmopolitain"> </li>
              <li> <img src="{{site.baseurl}}/images/LPF-BAW.png" width="120" alt="logo des Petits Frenchies"> </li>
            </ul>
          </a>


        </div>
      </div>

      <div class="row text-center">
        <div class="col-xs-12 pulse next-section">
          <a href="#section2" class="page-scroll"> <i class="fa fa-chevron-down fa-2x"></i></a>
        </div>
      </div>

    </div>


  </div>
 


  <div class="container">
    <div class="row text-left">
      
      {{content}}

    </div>

    <div class="row text-center">

      <div class="col-xs-12">
        
        <br>
        <a href="{{ site.baseurl }}/#section2"> En savoir plus sur le service</a>
        <br>
        <br>
        <a class="page-scroll btn btn-default btn-lg" href="{{ site.baseurl }}/commande.html" onclick="ga('send','event','Lien','Book','Arrondissement');"> JE RÉSERVE MAINTENANT</a>

      </div>
      	
    </div>

    <div class="spacer-5">
    </div>
  </div>
</div>
